# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Builds
dist/
dist-ssr/

# Cachés
.cache/

# Archivos de entorno
*.local
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Videos grandes (se manejan con Cloudinary)
public/videos/

# Archivos de Vercel
.vercel